html{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

*{
    padding: 7px;
    justify-self: center;
}

small{
    color: white;
    text-align: center;
}

h1{
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif
}

audio{
    color: white;
}


.buttons{
    justify-self: center;
    align-self: center;
}

i{
    size: 30px;
    color: white;
}

button{
    background-color: black;
    border-radius: 5px;
}

#albumcover{
    width: 40%;
    border: 3px;
    height: auto;
    clip-path: circle(40%);
    rotate : 0deg;
}

#Previous{
    rotate: -90deg;
}


#Next{
    rotate : 90deg;
}

.music-player{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.img-bg{
    opacity: 0.5;
    position: absolute;
    filter: blur(5px);
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 15%;
    z-index: -1;
}

.audio-interface{
    
}

